human_or_ai_dataset.csv
datasets/*.csv
code/nn_manual/train.csv
code/nn_manual/test.csv
code/nn_manual/validation.csv
reg_logistica/__pycache__
.DS_Store
glove.*
code/nn_manual/__pycache__
Submissao1/__pycache__